{% extends 'base.html' %}
{% load static %}
{% block title %}Add{% endblock %}



{% block content %}
<div class="col-md-6" style="position: absolute; left: 50%; transform: translateX(-50%);">
    <div class="card card-primary">
      <div class="card-header" id="transactionForm">
        <h3 class="card-title">New Transaction</h3>
      </div>
      <div class="card-body">
            <form method="post" id="transactionForm">

                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>


                <input type="hidden" name="{{ form.user.name }}" value="{{ request.user.id }}">


                
                <label>{{ form.date.label }}</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                    <input type="{{ form.date.field.widget.input_type }}" name="{{ form.date.name }}" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <div class="form-error">{{ form.date.errors }}</div>
                <br>


                <label>{{ form.amount.label }}</label>
                <input type="{{ form.amount.field.widget.input_type }}" name="{{ form.amount.name }}" class="form-control" placeholder="Enter amount"/>
                <div class="form-error">{{ form.amount.errors }}</div>
                <br>

                
                <div class="form-group">
                    <div class="form-group">
                        <label>{{ form.category.label }}</label>
                        <select class="form-control select2bs4" type="{{ form.category.field.widget.input_type }}" name="{{ form.category.name }}" style="width: 100%;">
                            {% for cat in form.category %}
                            {{cat}}
                            {% endfor %}
                        </select>
                      </div>
                </div>
                <div class="form-error">{{ form.category.errors }}</div>
                <br>


                <label>{{ form.description.label }}</label>
                <input type="{{ form.description.field.widget.input_type }}" name="{{ form.description.name }}"class="form-control" placeholder="Enter description">
                <div class="form-error">{{ form.description.errors }}</div>
                <br>


                <div class="col-8">
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio1" name="type" value="income">
                        <label for="customRadio1" class="custom-control-label">Income</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" id="customRadio2" name="type" checked value="expense">
                        <label for="customRadio2" class="custom-control-label">Expense</label>
                    </div>
                </div>
                <div class="form-error">{{ form.type.errors }}</div>
                    
                <div class="row">
                    <div class="col-8">

                      </div>
                    <div class="col-4">
                      <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </div>
                    <!-- /.col -->
                  </div>


            </form>
      </div>
        <div class="card-footer">
        </div>
    </div>
  </div>
  <script>

$(document).ready(function () {
    $('#transactionForm').submit(function () {
        var selectedType = $('input[name="type"]:checked').val();
        $('<input />').attr('type', 'hidden')
            .attr('name', 'type')
            .attr('value', selectedType)
            .appendTo('#transactionForm');
    });
});
</script>
{% endblock %}

