{% extends 'base.html' %}
{% load static %}
{% block title %}Add Category{% endblock %}

{% block content %}
<div class="col-md-6" style="position: absolute; left: 50%; transform: translateX(-50%);">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">New Category</h3>
      </div>
      <div class="card-body">
            <form method="post" >
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <input type="hidden" name="{{ form.author.name }}" value="{{ request.user.id }}">
                <label>{{ form.name.label }}</label>
                <input type="{{ form.name.field.widget.input_type }}" name="{{ form.name.name }}" class="form-control" placeholder="Enter name of category">
                <div class="form-error">{{ form.name.errors }}</div>
                <br>
                <div class="row">
                    <div class="col-9">
                      </div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary btn-block">Add</button>
                    </div>
                  </div>
            </form>
      </div>
        <div class="card-footer">
        </div>
    </div>
  </div>
{% endblock %}

