{% extends 'base.html' %}
{% load static %}
{% block title %}History{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ category.name }}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr class="{% if transaction.type == 'Expense' %}table-danger{% elif transaction.type == 'Income' %}table-success{% endif %}">
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.description }}</td>
                            <td><a href="{% url 'transactions-edit' pk=transaction.pk %}"><img src="{% static 'img/edit.png' %}" width="20px"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}